@model IEnumerable<MyUniversity.Models.SubmissionDetail>

@{
    ViewData["Title"] = "Submission Details";
}

<h1>Submission Details</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubmissionDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmissionDueOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmissionOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmissionFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileContentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.SubmissionStatus)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Thesis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubmissionDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmissionDueOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmissionOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmissionFile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileContentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.SubmissionStatus)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Thesis.ThesisDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SubmissionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SubmissionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SubmissionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
